<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <!--    移动端的预览设置-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--    <link rel="stylesheet" href="./static/lib/tocbot/styles.css"> 没必要引入这个，引入后会发生排版错乱-->
    <title th:replace="${title}">博客</title>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <!--markdown编辑器css-->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">

</head>
<body>
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" id="headNav">
    <div class="ui stackable container" id="navContainer">
        <!--            把他设置为一个菜单，下面每一个都是一个item-->
        <div class="ui  inverted secondary menu">
            <div class="brand-logo">
                <a class="waves-effect waves-light " href=""></a>
                <!--                 需要设置logo字体大小-->
                <span class=" ui teal header item m-logo-text"> 博客管理</span>
            </div>
            <!--            stackable是可堆叠的意思-->
            <div class=" item m-padded-link-right">
                <a href="#"  class="item" th:href="@{/admin/blogs}" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>博客</a>
                <a href="#" class="item" th:href="@{/admin/tags}" th:classappend="${n==2}?'active'"><i class="tags icon"></i>标签</a>
                <a href="#" class="item" th:href="@{/admin/types}" th:classappend="${n==3}?'active'"><i class="idea icon"></i>分类</a>
                <div class="ui inverted  m-margin-left menu">
                    <div class="ui dropdown  item">
                        <div class="text">
                            <img src="https://unsplash.it/100/100?image=1006" alt="" class="ui avatar image">孙悦
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/loginOut}" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>

<!--footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <!--            semantic ui 分16份，而bootstrap分12份，一行-->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img  class="ui rounded image" src="../static/images/wxchat.png"  th:src="@{/images/wxchat.png}"  style="width: 110px" alt="">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header ">其他平台（me）</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item"><i class=" github icon"></i>&ensp;&ensp;Github</a>
                    <a href="#" class="item"><i class=" clone icon"></i>&ensp;&ensp;ZhiHu</a>
                    <a href="#" class="item"><i class="weibo icon"></i>&ensp;&ensp; Weibo</a>
                </div>
            </div>

            <div class="four wide column">
                <h4 class="ui inverted header ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:&ensp;1412824257@qq.com</a>
                    <a href="#" class="item">QQ：&ensp;1412824257</a>
                </div>
            </div>

            <div class="six wide column">
                <h4 class="ui inverted header ">Monitor</h4>
                <p id="m-p-mointor">一个人并不是生来要给打败的，你尽可以把他消灭掉，但他的精神是不可战胜的。 ---海明威</p>
            </div>
        </div>
        <div class="ui inverted section divider" style="width: 100% "></div>
        <p class="m-copyright" style="font-size: medium ">Copyright &ensp; © &ensp;2020-2021 &ensp;|&ensp; Designed
            By: &ensp;SunYue </p>
    </div>
</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
</th:block>

<script>
    //注销
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>

</html>